


body {
  margin: 0;
  padding: 0;
  background: url('/assets/produce_bkgrd.jpeg');
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wrapper{
  margin: 0 auto;
  width: 900px;
  height: 1300px;
  background-color: white;
  opacity: 0.8;
  position: relative;
}
.footer {
  text-align: center;

}

h1 {
  text-align: center;
  text-decoration: underline;
  color: red;

}
.america {
  text-align: center;
}
.most_review_product {
  text-align: center
}


h3 {
  color: #FF5733;
  text-shadow: 50%;
  background-color: green;
  text-align: center;
  opacity: 1;
}
.discount{
  border: 1px solid black;
  margin: 2px;
  width: 200px;
  padding: 3px;
  text-align: center;
  background-color: blue;
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
}

.about {
  margin-left: 40px;
  border: 2px solid black;
  margin-right: 40px;
  margin-top: 50px;
  padding: 3px;
  text-align: center;
}
.about::first-letter {
  color: red;
  font-size: 20px;

}


ol li:hover {
  background-color: #86D6E1;

}
ol li {
  text-decoration: none;
  text-align: center;
  list-style: none;
  margin-top: 20px;
}
ul {
  list-style: none;
  list-style-position: inside;
  padding: 20px;
}
ul li:hover{
  background-color: #86D6E1;

}

.gallery {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
img{
  height: 200px;
  width: 250px;
  padding: 1px;
  border: 2px solid green;
  margin-top: 2px;
  margin-left: 16px;
  margin-right: 16px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.left {
  float: left;
}
.right {
  float: right;
}





/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
