<h1>Mario's food yelp place</h1>

<p class="about">
  Mario is a great man that sells great food.  See what people think of the different products sold at Mario's.  Also add a review yourself.  Just click on All Products to get started.
</p>
<div class="three-most-recent">

<h3>The three most recently added products to the store. From most recent to third-most-recent</h3>

<ol>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ol>
</div>
<div class="america">

<h3>All Products with a county of origin of "United States"</h3>

<ul>
  <% @us_products.each do |us_product| %>
  <li><%= link_to us_product.name, product_path(us_product) %></li>
  <% end %>
</ul>
</div>
<div class="discount">
  <p>Refer a Friend. Earn 10% off Meat Products!</p>

</div>

<h3>The Products with the most reviews</h3>
<div class="most_review_product">

<% @most_review_product.each do |product| %>
<ul>


<li><%= link_to product.name, product_path(product)%></li>
<% end %>
</ul>
</div>



<div class="gallery">
  <img class="left" src="assets/shopper1.jpeg" alt="shopper1">
  <img class="left" src="assets/shopper2.jpeg" alt="shopper1">
  <img class="right" src="assets/shopper3.jpeg" alt="shopper1">
  <img class="right" src="assets/shopper4.jpeg" alt="shopper1">
  <img class="mid" src="assets/shopper5.jpeg" alt="shopper1">
  <img class="mid" src="assets/shopper6.jpeg" alt="shopper1">

</div>
